@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Bold.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Medium.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
