$fontFamily: 'TTLakes', sans-serif;

$mainColor: #1b1c21;
$accentColor: #ff3e79;
$secondColor: #7e7e82;
$hoverButtonColor: #c02856;
$thirdColor: #41f6d7;

$fontSize: 16px;
$minWidth: 320px;

// Брейк-поинты
$tablet: 768px; // от 768px
$desktop: 1440px; // от 1440px
