.footer {
  &__container {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    text-align: right;
    color: $secondColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding-bottom: 19px;

    @media (min-width: $tablet) {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 25px;
    }
  }

  &__copyright {
    @media (min-width: $tablet) {
      text-align: left;
    }
  }

  &__link {
  }

  &__information {
    max-width: 213px;
    @media (min-width: $tablet) {
      text-align: right;
    }
  }
}
