.hero {
  &__container {
    padding-block: 24px;
  }

  &__title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 24px;
    @media (min-width: $tablet) {
      margin-bottom: 32px;
    }
  }

  &__buttons {
    gap: 32px;
    display: none;

    @media (min-width: $desktop) {
      display: flex;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover .btn {
      background-color: $hoverButtonColor;
    }
  }

  &__menu {
    margin-bottom: 32px;
    overflow: hidden;
  }

  &__menu-list {
    display: flex;
    align-items: center;
    overflow-x: auto;

    @media (min-width: $desktop) {
      flex-wrap: wrap;
    }
  }

  &__menu-link {
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $secondColor;
    padding: 8px 16px;
    display: block;
    width: max-content;
    border: 2px solid #f8f8f8;

    &:hover {
      background-color: #fff;
      border: 2px solid #b8ffec;
      border-radius: 6px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: $tablet) {
      flex-direction: row;
      gap: 48px;
    }

    @media (min-width: $desktop) {
      gap: 36px;
    }
  }

  &__text {
    .text {
      max-height: 100px;
      overflow: hidden;
      transition: max-height 0.3s ease;

      @media (min-width: $tablet) {
        max-height: 145px;
      }
    }
  }

  &__image {
    margin-inline: -16px;
    min-width: 100%;
    @media (min-width: $tablet) {
      margin: 0;
      min-width: 50%;
      border-radius: 6px;
    }
  }

  &__img {
    @media (min-width: $tablet) {
      border-radius: 6px;
    }
  }
}
