.menu {
  position: absolute;
  left: -100%;
  top: 0;
  transition: left 0.3s linear;
  height: 100dvh;
  background-color: #fff;
  padding-top: 92px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 360px;
  box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);

  @media (min-width: $tablet) {
    max-width: 320px;
  }

  @media (min-width: $desktop) {
    left: 0;
    box-shadow: none;
  }

  &.active {
    left: 0;
  }

  &__search-button {
    position: absolute;
    top: 24px;
    right: 16px;
    display: none;
    @media (min-width: 360px) {
      right: 24px;
    }
    @media (min-width: $desktop) {
      display: flex;
    }
  }

  &.active &__search-button {
    display: flex;
    z-index: 2;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
    flex-grow: 1;
  }

  &__item {
    display: flex;
    align-items: center;
    &::before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 32px;
      background-color: $thirdColor;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover::before {
      opacity: 1;
    }
  }

  &__link {
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $mainColor;
    padding-left: 16px;
    transition: color 0.3s ease;

    @media (min-width: 360px) {
      padding-left: 24px;
    }

    &:hover {
      color: $secondColor;
    }
  }

  &__footer {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    @media (min-width: 360px) {
      padding: 0 24px;
    }
  }
  &__buttons {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }

  &__mail {
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.01em;
    margin-bottom: 12px;
  }

  &__phone {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: -0.03em;
    margin-bottom: 8px;
  }

  &__language {
    display: flex;
    gap: 7px;
    align-items: center;
    margin-bottom: 32px;
  }

  &__lang-link {
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.01em;
    transition: color 0.3s ease;

    &.active,
    &:hover {
      color: $secondColor;
    }
  }
}
