.modal {
  width: 100%;
  min-height: 100dvh;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 12;
  transition: right 0.3s linear;

  &.active {
    right: 0;
  }

  @media (min-width: $tablet) {
    width: 440px;
  }
  &__content {
    background-color: #fff;
    padding: 24px 16px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    right: 0;

    @media (min-width: $tablet) {
      padding: 40px 32px;
      box-shadow:
        16px 0 52px 0 rgba(14, 24, 80, 0.2),
        -2px 0 4px 0 rgba(69, 79, 126, 0.02);
    }
  }

  &__close {
    margin-bottom: 40px;
    @media (min-width: $tablet) {
      position: absolute;
      top: 32px;
      left: -64px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: -0.03em;
    display: flex;
    align-items: center;
    gap: 12px;
    transform: translateX(-16px);
    margin-bottom: 24px;

    &::before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 40px;
      background-color: $thirdColor;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    @media (min-width: $tablet) {
      transform: translateX(-32px);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    padding: 12px 16px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    margin-bottom: 16px;

    &::placeholder {
      color: #b5b6bc;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: $secondColor;
    margin-bottom: 19px;
  }

  &__link {
    color: #ff3e79;
    transition: color 0.3s linear;

    &:hover {
      color: $hoverButtonColor;
    }
  }

  &__button {
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    padding: 4px 18px;
    border-radius: 16px;
    background-color: $accentColor;
    transition: color 0.3s linear;
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: flex-end;

    &:hover {
      background-color: $hoverButtonColor;
    }
  }
}
