@import './base/fonts.scss';
@import './base/variations.scss';
@import './base/null.scss';
@import './base/base.scss';

@import './blocks/burger.scss';
@import './blocks/header.scss';
@import './blocks/menu.scss';
@import './blocks/hero.scss';
@import './blocks/repair.scss';
@import './blocks/price.scss';
@import './blocks/footer.scss';
@import './blocks/modal.scss';
